---
import Heroes from "@/layouts/Heroes.astro";
---

<Heroes>
  <div class="heroes">
    <div class="hero-name" transition:name="name" transition:animate="slide">Skarlet</div>
    <div class="hero-image">
      <img src="/images/heroes/Skarlet.png" transition:name="image"/>
    </div>
  </div>
</Heroes>

<style is-global>
  .heroes {
    background: linear-gradient(hsl(0, 88%, 13%), hsl(0, 91%, 26%));
  }
</style> 