---
import Heroes from "@/layouts/Heroes.astro";
---

<Heroes>
  <div class="heroes">
    <div class="hero-name" transition:name="name" transition:animate="slide">Shang T</div>
    <div class="hero-image">
      <img src="/images/heroes/ShangTsung.png" transition:name="image"/>
    </div>
  </div>
</Heroes>

<style is-global>
  .heroes {
    background: linear-gradient(hsl(54, 84%, 25%), hsl(54, 54%, 52%));
  }
</style>