---
import Elearn from "@/layouts/Elearn.astro";

import Hero from "@/components/elearn/Hero.astro";
import Header from "@/components/elearn/Header.astro";
import Faq from "@/components/elearn/Faq.astro";
import Section from "@/components/elearn/Section.astro";
import Footer from "@/components/elearn/Footer.astro";
import Pricing from "@/components/elearn/Pricing.astro";
import PersonList from "@/components/elearn/PersonList.astro";
import Features from "@/components/elearn/Features.astro";
import Review from "@/components/elearn/ReviewList.astro";
import Split from "@/components/elearn/partial/Split.astro";
import HowItWorks from "@/components/elearn/HowItWorks.astro";
import WorkFlow from "@/components/elearn/WorkFlow.astro";
import ButtonLink from "@/components/elearn/partial/ButtonLink.astro";
---

<Elearn>
  <Header />

  <Hero />

  <Section
    centeredTitle
    subtitle="The System"
    title="<mark>Метод The System</mark> – система быстрого погружения в английский язык через разговорную практику"
  />

  <Section
    id="how-it-works"
    title="Как работает метод – рассказывает <mark>Александр Фомин</mark>"
  >
    <Split>
      <Fragment slot="start">
 
      </Fragment>
      <Fragment slot="end">
        <HowItWorks />
      </Fragment>
    </Split>
  </Section>

  <!-- Блок 2 - Как работает метод -->
  <Section
    centeredTitle
    subtitle="The System"
    title="<span>По нашему методу <mark>изучить английский язык</mark> смогут студенты любого уровня – от 0 до С1</span>"
  />

  <!-- Блок 3 - Как проходит пробное занятие и что в него входит -->
  <Section
    centeredTitle
    title="Занятие проходит <mark>онлайн в режиме диалога</mark> с преподавателем"
  >
    <Split>
      <Fragment slot="end">

      </Fragment>
      <Fragment slot="start">
        <WorkFlow />
      </Fragment>
    </Split>
  </Section>

  <!-- Блок 4 - Как проходит пробное занятие и что в него входит -->
  <!-- Но тут совершенно другое -->
  <Section
    centeredTitle
    title="Запишитесь на <mark>бесплатный пробный урок</mark> и получите скидку до 55%"
  >
    <ButtonLink
      classes="+centered"
      size="l"
      href="#get-free-lesson-form"
      theme="ghost">Записаться на пробный урок</ButtonLink
    >
  </Section>

  <!-- Блок 5 - Наши преподаватели -->
  <Section
    id="teachers"
    title="Наши учителя – <mark>друзья,</mark> с которыми легко найти английский язык"
    subtitle="Учителя"
  >
    <PersonList />
  </Section>

  <!-- Блок 6 - Отзывы наших учеников  -->
  <Section
    id="pricing"
    title="Научитесь говорить и думать на английском от <mark>599₽</mark>"
    subtitle="Цены"
  >
    <Pricing />
  </Section>

  <Section title="<mark>Бонусы</mark> к каждому абонементу">
    <Features />
  </Section>

  <!-- Блок 7 - Отзывы наших учеников  -->
  <Section
    title="Более <mark>3000</mark> наших учеников говорят на английском"
    subtitle="Отзывы"
  >
    <Review />
  </Section>

  <!-- Блок 8 - Приглашение на пробный урок -->
  <Section
    subtitle="Начни сегодня"
    title="Запишитесь на <mark>бесплатный пробный урок</mark> и получите скидку до 55%"
  >
    <ButtonLink
      classes="+centered"
      size="l"
      href="#get-free-lesson-form"
      theme="ghost">Записаться на пробный урок</ButtonLink
    >
  </Section>

  <!-- Блок 9 - блок ответов на вопросы -->
  <Section id="faq" title="Часто задаваемые вопросы" subtitle="Вопросы">
    <Faq />
  </Section>

  <Footer />
</Elearn>

<style is:global>
  mark {
    color: var(--color-accent);
    background: none;
  }

  .\+centered {
    margin-inline: auto;
  }

  img {
    user-select: none;
    pointer-events: none;
  }

  .\+frame {
    position: relative;
    isolation: isolate;

    &::after {
      content: '';
      position:absolute;
      inset: 0;
      background: var(--color-accent);
      transform: rotate(1deg) skewX(2deg);
      z-index: -1;
      border-radius: var(--radius-3);
    }

    & + &::after {
      transform: rotate(-.5deg) skewX(-2.71deg);
    }

    & + & + &::after {
      transform: rotate(-1.5deg) skewX(-1.71deg);
    }
  }
</style>
