---
const baseUrl = "/elearn/";

const links = [
  {
    label: "Как работает",
    href: baseUrl,
  },
  {
    label: "Учителя",
    href: baseUrl,
  },
  {
    label: "Блог",
    href: baseUrl + "#blog",
  },
  {
    label: "Вопрос/Ответ",
    href: baseUrl + "#contacts",
  },
  {
    label: "Цены",
    href: baseUrl + "#contacts",
  },
];
---

<nav class="app-nav">
  <ul class="_list">
    {
      links.map((link) => (
        <li class:list={["_item", { "+hasSubmenu": link.submenu }]}>
          <a href={link.href} class="_link">
            <span>{link.label}</span>
            {!!link.submenu && '⬇️'}
          </a>
          {!!link.submenu && (
            <ul class="_list +submenu">
              {link.submenu.map((link) => (
                <li class="_item">
                  <a href={link.href} class="_link">
                    <span>{link.label}</span>
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  .app-nav {
    ._list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 3.2rem;
      padding: 0;
      background: var(--color-surface-0-light);

      &.\+submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: max-content;
        height: max-content;
      }
    }

    ._item {
      &.\+hasSubmenu {
        position: relative;

        &:hover .\+submenu {
          display: flex;
          flex-flow: column;
          align-items: stretch;
          gap: 0;
          min-width: 200px;
          border-radius: 8px;
          border-top: 3px solid var(--color-accent);
          box-shadow: var(--shadow-1);
          animation: showSlideDown .25s forwards;

          @keyframes showSlideDown {
            from {
              opacity: 0;
              translate: 0 -10px;
            }
            to {
              opacity: 1;
              translate: 0 0;
            }
          }

          ._item {
            padding: 10px;

            &:not(:last-child) {
              border-bottom: 2px dotted var(--color-line);
            }
          }
        }
      }
    }

    ._link {
      padding-block: 1.2rem;
      color: var(--color-text-secondary);
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: var(--color-text-accent);
      }
    }

    .\+submenu ._link {
      font-size: 1.4rem;
    }
  }
</style>
