---

---
<div class="app-form-select">
  <div class="_label">Локация</div>
  <div class="_input-wrap">
    <input type="text">
    <div class="_icon"></div>
  </div>
</div>

<style lang="scss">
.app-form-select {
  input {
    width: 100%;
  }
}
</style>