---

---

<div class="app-features">
  <div class="app-feature +frame">
    <div class="_inner">
      <div class="_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M1.75 1h12.5c.966 0 1.75.784 1.75 1.75v9.5A1.75 1.75 0 0 1 14.25 14H8.061l-2.574 2.573A1.458 1.458 0 0 1 3 15.543V14H1.75A1.75 1.75 0 0 1 0 12.25v-9.5C0 1.784.784 1 1.75 1M1.5 2.75v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25"
          ></path><path
            fill="currentColor"
            d="M22.5 8.75a.25.25 0 0 0-.25-.25h-3.5a.75.75 0 0 1 0-1.5h3.5c.966 0 1.75.784 1.75 1.75v9.5A1.75 1.75 0 0 1 22.25 20H21v1.543a1.457 1.457 0 0 1-2.487 1.03L15.939 20H10.75A1.75 1.75 0 0 1 9 18.25v-1.465a.75.75 0 0 1 1.5 0v1.465c0 .138.112.25.25.25h5.5a.75.75 0 0 1 .53.22l2.72 2.72v-2.19a.75.75 0 0 1 .75-.75h2a.25.25 0 0 0 .25-.25z"
          ></path></svg
        >
      </div>
      <div class="_title">Общение</div>
      <div class="_description">
        Бесплатный спикинг клуб и мастер-классы от учителей школы
      </div>*
    </div>
  </div>
  <div class="app-feature +frame">
    <div class="_inner">
      <div class="_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 2048 2048"
          ><path
            fill="currentColor"
            d="m2029 1453l-557 558l-269-270l90-90l179 178l467-466zM1024 384v512h384v128H896V384zm-64 1408q16 0 32-1t32-2l114 114q-45 8-89 12t-89 5q-132 0-254-34t-230-97t-194-150t-150-195t-97-229T0 960q0-132 34-254t97-230t150-194t195-150t229-97T960 0q132 0 254 34t230 97t194 150t150 195t97 229t35 255q0 50-6 101l-168 169q46-133 46-270q0-115-30-221t-84-198t-130-169t-168-130t-199-84t-221-30q-115 0-221 30t-198 84t-169 130t-130 168t-84 199t-30 221q0 115 30 221t84 198t130 169t168 130t199 84t221 30"
          ></path></svg
        >
      </div>
      <div class="_title">Удобство</div>
      <div class="_description">Возможность перенести урок на удобное время или вовсе его отменить</div>
    </div>
  </div>
  <div class="app-feature +frame">
    <div class="_inner">
      <div class="_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 20 20"
          ><path
            fill="currentColor"
            d="M10 14.5a2 2 0 0 1-1.994-1.84A6.002 6.002 0 0 1 10 1a6 6 0 0 1 5.98 5.5a.47.47 0 0 1-.48.5a.541.541 0 0 1-.525-.5a5 5 0 1 0-6.79 5.16A2 2 0 1 1 10 14.5M5.009 12H5.1c.39.381.823.717 1.292 1H5.009C4.448 13 4 13.447 4 14c0 1.309.622 2.284 1.673 2.953C6.743 17.636 8.265 18 10 18c1.735 0 3.257-.364 4.327-1.047C15.377 16.283 16 15.31 16 14a1 1 0 0 0-1-1h-2.041a3.018 3.018 0 0 0 0-1H15a2 2 0 0 1 2 2c0 1.691-.833 2.966-2.135 3.797C13.583 18.614 11.855 19 10 19c-1.855 0-3.583-.386-4.865-1.203C3.833 16.967 3 15.69 3 14c0-1.113.903-2 2.009-2M14 7a3.997 3.997 0 0 1-1.87 3.387a3.007 3.007 0 0 0-.93-.637a3 3 0 1 0-2.4 0c-.35.153-.665.37-.93.637a4.012 4.012 0 0 1-1.638-2.042A3.983 3.983 0 0 1 6 7a4 4 0 1 1 8 0"
          ></path></svg
        >
      </div>
      <div class="_title">Поддержка</div>
      <div class="_description">
        Организация учебного процесса и составление расписания уроков куратором
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .app-features {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2.4rem;
    justify-content: center;
  }

  .app-feature {
    ._inner {
      // place-self: center;
      // display: flex;
      // flex-flow: column;
      // align-items: center;
      // gap: 2.4rem;
      place-self: center;
      background: var(--color-surface-0);
      padding: 3.2rem;
      height: 100%;
    }

    ._icon {
      width: 80px;
      height: 80px;

      svg {
        width: 100%;
        height: 100%;
        color: var(--color-accent);
      }
    }

    ._title {
      font-size: 2.4rem;
      font-weight: bold;
      font-family: var(--font-family-secondary);
      margin-top: 1.6rem;
    }

    ._description {
      margin-top: 2.4rem;
      color: var(--color-text-secondary);
      text-align: right;
      text-wrap: balance;
    }
  }
</style>
