---
import ReviewCard from "./partial/ReviewCard.astro";
import reviews from "@/data/rent/reviews";

const data = reviews;
---

<div class="app-reviews">
  <div class="container">
    <div class="app-reviews__inner">
      {data.map((review) => <ReviewCard data={review} />)}
    </div>
  </div>
</div>

<style lang="scss">
  .app-reviews {
    &__inner {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 2.4rem;
    }
  }
</style>
