---
import ButtonLink from "./partial/ButtonLink.astro";
import FormSelect from "./partial/FormSelect.astro";
---

<div class="app-search">
  <div class="container">
    <div class="_tabs"></div>
    <div class="_tab-content">
      <FormSelect />
      <FormSelect />
      <FormSelect />
      <ButtonLink href="#search" theme="primary">Найти</ButtonLink>
    </div>
  </div>
</div>

<style lang="scss">
  .app-search {
    position: relative;
    z-index: 1;
    margin-top: -5rem;

    ._tab-content {
      display: grid;
      grid-template-columns: repeat(3, minmax(0,1fr)) auto;
      align-items: end;
      gap: 1.6rem;
      padding: 2rem 4rem;
      border-radius: 0px 1.6rem 1.6rem 1.6rem;
      background-color: var(--color-surface-0);
      box-shadow: var(--shadow-1);
    }
  }
</style>
